@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Circular STD";
    src: url("../font/CircularStd-Bold.woff") format("woff");
  }

  h1 {
    font-family: "Circular STD";
  }

  html {
    font-family: "Inter";
  }
}
